@media only screen and (max-width: 500px) {
    .recipeImage{
      max-width: 100%;
      height: auto;
    }
  }
  
  @media only screen and (min-width: 800px) {
    .recipeImage{
      max-width: 100%;
      cursor: pointer;
    }
    .imageDiv{
      max-width: 100%;
      margin: 2%;
      display: inline-block;
    }
  }