<div class="w3-container w3-center register">
    <div class="w3-card-4" style="margin: auto; width: fit-content;">
      <header class="w3-container">
        <h3>Register</h3>
      </header>
      <div class="w3-container">
        <form [formGroup]='userdata' (ngSubmit)=register()>
            <mat-form-field appearance='outline' class='input-full-width'>
                <mat-label>Full Name</mat-label>
                <input type="text" matInput name='name' [errorStateMatcher]='matcher'
                 formControlName='name' placeholder="Name...">
                 <mat-error *ngIf="name.invalid" > {{getNameError()}} </mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline' class='input-full-width'>
              <mat-icon matPrefix>email</mat-icon>
              <mat-label>Email</mat-label>
              <input type="email" matInput name='email'
               formControlName='email' placeholder="Email..." [errorStateMatcher]='matcher'>
              <mat-error *ngIf="email.invalid" > {{getEmailError()}} </mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline' class='input-full-width'>
              <mat-icon matPrefix>lock</mat-icon>
              <mat-label>New Password</mat-label>
              <input type="password" matInput name='pswd'
               formControlName='newpswd' placeholder="New Password..." [errorStateMatcher]='matcher' >
              <mat-error *ngIf="newpswd.invalid" > {{getNewPswdError()}} </mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline' class='input-full-width'>
                <mat-icon matPrefix>lock</mat-icon>
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput name='confpswd' 
                 formControlName='confpswd' placeholder="Confirm Password..." [errorStateMatcher]='matcher' >
                <mat-error *ngIf="newpswd != confpswd" > {{getConfPswdError()}}</mat-error>
            </mat-form-field>

            <p style="font-size: 12px; color: red;"> {{alertMsg}} </p>
            <button mat-raised-button type='submit' class="w3-section"
            [disabled]='userdata.invalid' color="accent">Register</button>
        </form>
      </div>
    </div>
  </div>
  